.links1-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.links1-navlink {
  color: var(--dl-color-important-text);
  transition: 0.3s;
  text-decoration: none;
}
.links1-navlink:hover {
  color: var(--dl-color-accent-100);
}
.links1-navlink1 {
  transition: 0.3s;
  text-decoration: none;
}
.links1-navlink1:hover {
  color: var(--dl-color-accent-100);
}
.links1-navlink2 {
  transition: 0.3s;
  text-decoration: none;
}
.links1-navlink2:hover {
  color: var(--dl-color-accent-100);
}
.links1-navlink3 {
  color: var(--dl-color-important-text);
  transition: 0.3s;
  text-decoration: none;
}
.links1-navlink3:hover {
  color: var(--dl-color-accent-100);
}
